trigger:
  branches:
    include:
      - master

variables:
- name: imageName
  value: "httpclientdemo"

- name: acrName
  value: "appworkspacedevacr"

pool:
  vmImage: "ubuntu-latest"

steps:
- checkout: self

# Debug (opcional)
- script: |
    echo "acrName: ${{ variables.acrName }}"
    echo "imageName: ${{ variables.imageName }}"
  displayName: "Debug YAML vars"

- task: AzureCLI@2
  displayName: "Build & Push Docker Image (single build, multiple tags)"
  inputs:
    azureSubscription: "DevWorkspace-ARM"
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      echo "=== VARIABLES ==="
      echo "ACR: $ACR_NAME"
      echo "IMAGE: $IMAGE_NAME"
      echo "BUILD ID: $BUILD_BUILDID"

      echo "=== Building image with 2 tags ==="
      az acr build \
        --registry $ACR_NAME \
        --file HttpClientDemo/Dockerfile \
        --image ${IMAGE_NAME}:latest \
        --image ${IMAGE_NAME}:${BUILD_BUILDID} \
        .
  env:
    ACR_NAME: ${{ variables.acrName }}
    IMAGE_NAME: ${{ variables.imageName }}
